/* Sign Up Section */

#sign-up-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 43.5rem;
  background-image: url("../../assets/images/banner-landingpage.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
}

#sign-up-cta {
  padding: 0 clamp(1.875rem, 3.9vw, 5rem) clamp(1.625rem, 5vw, 3.5rem)
    clamp(1.875rem, 3.9vw, 5rem);
  border: solid 1px #979797;
  border-radius: 4px;
  background-color: #9dc20b;
  margin: clamp(6.25rem, 17vw, 10.625rem) auto clamp(6.25rem, 17vw, 10.625rem)
    clamp(4.375rem, 10vw, 6.25rem);
}

#sign-up-cta .content {
  width: 35.5rem;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: white;
}

#sign-up-cta h1 {
  font-size: 3.125rem;
}

#sign-up-cta h2 {
  font-size: 2.25rem;
}

#sign-up-cta span {
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
}

#sign-up-cta span strong {
  font-weight: bold;
}

#sign-up-cta .cursive {
  font-family: "Damion", cursive;
  margin-top: 2rem;
  margin-bottom: 0;
}

#sign-up-cta .striking {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  padding-bottom: 0.75rem;
  line-height: 1.4;
  font-size: 3.125rem;
  margin: 0;
  color: white;
}

#sign-up-cta .button {
  margin: 1.625rem auto 0 auto;
  padding: 1.25rem 7.25rem;
  width: 25.5rem;
  height: 4rem;
  background-color: #4a4a4a;
  border-radius: 0.25rem;
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
}
@media only screen and (max-width: 768px) {
  #sign-up-section {
    align-items: center;
    justify-content: center;
    height: 28rem;
  }

  #sign-up-cta {
    position: static;
    width: 100%;
    height: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: clamp(6.25rem, 17vw, 10.625rem) auto clamp(6.25rem, 17vw, 10.625rem)
      auto;
  }

  #sign-up-cta .content {
    margin-top: 0;
    width: auto;
    align-items: center;
    justify-items: center;
    flex-direction: column;
  }

  #sign-up-cta .email {
    display: none;
  }

  #sign-up-cta h1 {
    font-size: clamp(1rem, 10vw, 3.125rem);
  }

  #sign-up-cta h2 {
    font-size: clamp(1rem, 10vw, 2.25rem);
  }
}

@media only screen and (max-width: 450px) {
  #sign-up-section {
    height: 20rem;
  }

  #sign-up-cta .striking {
    font-size: clamp(1rem, 10vw, 2.25rem);
  }

  #sign-up-cta h2 {
    font-size: clamp(1rem, 10vw, 2rem);
  }
}
